.cuadrado{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
}
.rombo{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: rotate(45deg);
    
}
.paralelogramo{
    width: 150px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: skew(20deg);
}
.triangulo{
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid brown;
    margin-left: 20px;
}
.circulo1{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    border-radius: 50px;
}
.circulo2{
    width: 0px;
    height: 0px;
    background-color: brown;
    margin-left: 20px;
    border-radius: 50px;
    border-left: 50px solid brown;
    border-top: 50px solid yellow;
    border-right: 50px solid green;
    border-bottom: 50px solid gray;
}
.diamante{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    clip-path: polygon(25% 0, 75% 0, 100% 25%, 50% 100%, 0 25%)
}
.animado{
    width: 50%;
    transition: all 1s;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}
.animado:hover{
    clip-path: polygon(50% 0, 100% 50%,50% 100%, 0 50%);
}